// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// custom setup code goes here
.main-content {
  h1, h2 {
    margin-bottom: 0.5em;
    font-weight: 600;
  }

  h3, h4 {
    font-weight: 600;
  }

  h2 {
    border-bottom: 1px solid #dee2e6;
  }
}

.text-blue {
  color: #007bff;
}

.text-bold {
  font-weight: bold;
}

table {
  text-wrap: nowrap;
}
